.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 10px 15px;
	margin: 30px 0;
	color: #666666;
	background: #ffb3b3;
	border-left: solid 10px #ff0000;
}

body{
	padding:20px
}
